@model WildTigerThai.DATA.EF.ProductsToSpecial

@{
    ViewBag.Title = "Details";
}

<div class="desktop">
    <h2>Product to Special Details</h2>

    <div class="dl-horizontal">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.SpecialPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpecialPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Special.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Special.Name)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ProductToSpecial_ID }, htmlAttributes: new { @class = "btn btn-warning" })
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-warning btn2" })
        </p>

    </div>
</div>
<div class="mobile">
    <h2>Product to Special Details</h2>

    <div class="mobile-horizontal">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.SpecialPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpecialPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Special.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Special.Name)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ProductToSpecial_ID }, htmlAttributes: new { @class = "btn btn-warning mobile-button" })
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-warning btn2" })
        </p>

    </div>
</div>