@model IEnumerable<WildTigerThai.DATA.EF.ProductsToSection>

@{
    ViewBag.Title = "Products In Sections";
}

<div class="desktop">
    <h2 class="center">@ViewBag.Title</h2>
    <p>
        @Html.ActionLink("Admin Panel", "AdminDashboard", "Home", null, new { @class = "btn btn-warning", @role = "button", @style = "width:8em; float:left;" })
    </p>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-warning", @role = "button", @style = "width:8em; clear:right;" })
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Section.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Section.Name)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "ProductsToSections", new { id = item.ProductToSection_ID })" class="link-icons"><i class="fa fa-pencil"></i></a><br />
                        <a href="@Url.Action("Details", "ProductsToSections", new { id = item.ProductToSection_ID })" class="link-icons"><i class="fa fa-info-circle"></i></a><br />
                        <a href="@Url.Action("Delete", "ProductsToSections", new { id = item.ProductToSection_ID })" class="link-icons"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="mobile">
    <p>
        @Html.ActionLink("Admin Panel", "AdminDashboard", "Home", null, new { @class = "btn btn-warning mobile-button", @role = "button" })
    </p>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-warning mobile-button2", @role = "button" })
    </p>
    @foreach (var item in Model)
    {
        <table class="full-border">
            <tr>
                <td class="phototype-content">
                    <b>@Html.DisplayNameFor(model => model.Product.ProductName):</b>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)<br />
                    <b>@Html.DisplayNameFor(model => model.Section.Name):</b>
                    @Html.DisplayFor(modelItem => item.Section.Name)
                </td>
                <td class="mobile-links">
                    <a href="@Url.Action("Edit", "ProductsToSections", new { id = item.ProductToSection_ID })" class="link-icons"><i class="fa fa-pencil"></i></a><br />
                    <a href="@Url.Action("Details", "ProductsToSections", new { id = item.ProductToSection_ID })" class="link-icons"><i class="fa fa-info-circle"></i></a><br />
                    <a href="@Url.Action("Delete", "ProductsToSections", new { id = item.ProductToSection_ID })" class="link-icons"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </table>
    }
</div>