@model WildTigerThai.DATA.EF.Product

@{
    ViewBag.Title = "Details";
}

<div class="desktop">
    <h2>Product Details</h2>

    <div class="dl-horizontal">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Photo.Photo_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Photo.Photo_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductType.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductType.Description)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Product_ID }, htmlAttributes: new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-warning btn2" })
    </p>
</div>
<div class="mobile">
    <h2>Product Details</h2>

    <div class="mobile-horizontal">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Photo.Photo_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Photo.Photo_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductType.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductType.Description)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Product_ID }, htmlAttributes: new { @class = "btn btn-warning mobile-button"}) |
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-warning btn2" })
    </p>
</div>