@model IEnumerable<WildTigerThai.DATA.EF.Product>

@{
    ViewBag.Title = "Products";
}

<h2 class="center">@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Admin Panel", "AdminDashboard", "Home", null, new { @class = "btn btn-warning", @role = "button", @style = "width:8em; float:left;" })
</p>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-warning", @role = "button", @style = "width:8em; clear:right;" })
</p>
<table class="table table-striped table-bordered">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo.Photo_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo.Photo_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType.Description)
                </td>
                <td>
                    <input id="@item.Product_ID" type="button" class="btn btn-warning" value="Edit" onclick="location.href='@Url.Action("Edit", "Products", new { id = item.Product_ID})'" style="width:5em" /><br />
                    <input id="@item.Product_ID" type="button" class="btn btn-warning" value="Details" onclick="location.href='@Url.Action("Details", "Products", new { id = item.Product_ID})'" style="width:5em" /><br />
                    <input id="@item.Product_ID" type="button" class="btn btn-warning" value="Delete" onclick="location.href='@Url.Action("Delete", "Products", new { id = item.Product_ID})'" style="width:5em" />

                </td>
            </tr>
        }
    </tbody>
</table>
