@model IEnumerable<WildTigerThai.DATA.EF.PhotoType>

@{
    ViewBag.Title = "Photo Types";
}

<h2 class="center">@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Admin Panel", "AdminDashboard", "Home", null, new { @class = "btn btn-warning", @role = "button", @style = "width:8em; float:left;" })
</p>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-warning", @role = "button", @style = "width:8em; clear:right;" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PhotoType_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PhotoType_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PhotoType_ID })
                </td>
            </tr>
        }
    </tbody>
</table>
