<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wild Tiger Thai Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kalam|Shojumaru' rel='stylesheet' type='text/css'>
    <!-- Css -->
    <link rel="stylesheet" href="~/Content/reset.css" />
    <link rel="stylesheet" href="~/Content/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" type='text/css'>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/datatables.css" />
    <link rel="stylesheet" href="~/Content/jscrollpane.css" />
    <link rel="stylesheet" href="~/Content/responsive.css">
    <link rel="stylesheet" href="~/Content/Site.css" />
    @RenderSection("styles", false)
    <!--Scripts-->
    <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="~/Scripts/owl.carousel.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.scrollUp.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jscrollpane.js" type="text/javascript"></script>
    <script src="~/Scripts/mousewheel.js" type="text/javascript"></script>
    <script src="~/Scripts/mwheelIntent.js" type="text/javascript"></script>
    <script src="~/Scripts/datatables.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript"></script>

    <script src="~/Scripts/main.js" type="text/javascript"></script>

</head>
<body>

    <!-- MENU Start -->
    <nav class="navbar navbar-container navbar-top fadeIn desktop">
        <div class="navdiv">
            <ul class="nav navbar-nav nav-main">
                <li class="logoHolder">
                    <a class="noPad" href="~/Home/Index">
                        <img class="logo" src="~/Source_Material/wild_tiger_thai_logo/proper_tiger_and_words.png" />
                    </a>
                </li>
                <li class="dropdown movedownnav">
                    <a href="#">Menu</a>
                    <ul class="dropdown-menu dropdown-menu-center ">
                        <li><a class="dropdown-menu-item" href="#">APPETIZERS</a></li>
                        <li><a class="dropdown-menu-item" href="#">STIR FRIED</a></li>
                        <li><a class="dropdown-menu-item" href="#">NOODLES</a></li>
                        <li><a class="dropdown-menu-item" href="#">CURRIES</a></li>
                        <li><a class="dropdown-menu-item" href="#">FRIED RICE</a></li>
                        <li><a class="dropdown-menu-item" href="#">SIDES</a></li>
                        <li><a class="dropdown-menu-item" href="#">MENU DOWNLOAD</a></li>

                    </ul>
                </li>
                <li class="movedownnav"><a href="#">Specials</a></li>
                <li class="movedownnav"><a href="~/Home/Contact">Contact</a></li>
                <li class="dropdown movedownnav">
                    <a href="#">Account</a>
                    <ul class="dropdown-menu dropdown-menu-center ">
                        @Html.Partial("_loginPartial")
                    </ul>
                </li>

            </ul> <!-- End of /.nav-main -->
        </div>	<!-- /.container-fluid -->
    </nav>	<!-- End of /.nav -->
    <div class="fadeIn mobile">
        <nav class="navbar navbar-container navbar-top ">
            <div class="mobileLogoHolder">
                <a class="noPad" href="~/Home/Index">
                    <img class="mobileLogo" src="~/Source_Material/wild_tiger_thai_logo/proper_tiger_and_words.png" />
                </a>
            </div>
            <ul class="nav navbar-nav mobileNav">
                <li><a class="mobileLink" href="#">Menu</a></li>
                <li><a class="mobileLink" href="~/Home/Contact">Contact</a></li>
                @Html.Partial("_loginPartial")
            </ul> <!-- End of /.nav-main -->
        </nav>
    </div>	<!-- End of /.nav -->

    <div class="custom-container">
        @RenderBody()
        <aside class="fadeIn desktop">
            <section id="features">
                <span id="menuButton" class="fa fa-cutlery closeBtn" onclick="toggleMenu()"></span>
                <div id="floatingMenu" class="container">
                    <div class="row">
                        <div class="col-md-4 aside-menu">
                            <div class="block topBorder">
                                <div class="media">
                                    <div id="movedown" class="pull-left" href="#">
                                        <img style="padding-left:2em;" src="~/Content/Images/take-away (64).png" />
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading center">Order Online</h4>
                                        <p class="center">
                                            <a href="#" id="movedown" class="btn btn-default" role="button">
                                                <span>Order Online</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>	<!-- End of /.row -->
                    <div class="row">
                        <div class="col-md-4 aside-menu">
                            <div class="block bottomBorder">
                                <div id="green" class="media">
                                    <div id="movedown" class="pull-left" href="#">
                                        <i class=" fa fa-hourglass-half"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Hours</h4>
                                        <p>
                                            Monday - Thursday 11AM-9PM <br />
                                            Friday 11AM-10PM <br />
                                            Saturday 12PM-10PM <br />
                                            Sunday 12PM-9PM <br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	<!-- End of /.container -->
            </section>	<!-- End of section -->
        </aside>
    </div>
    <footer class="footer-bottom fadeIn desktop">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="block">
                        <a href="#" class="footer-logo">
                            <img class="footerImage" src="~/Source_Material/wild_tiger_thai_logo/tiger_and_words.png" />
                        </a>
                        <p>
                            We are bringing new Thai flavor dishes to the South East of Vancouver, WA.
                        </p>
                    </div>	<!-- End Of /.block -->
                </div> <!-- End Of /.Col-md-4 -->
                <div class="col-md-4">
                    <div class="block">
                        <h4>GET IN TOUCH</h4>
                        <p>
                            <i class="fa  fa-map-marker"></i> <span>Food Code d.o.o.,</span>1825 SE 164th AVE Suite 101 VANCOUVER, WA 98683
                        </p>
                        <p> <i class="fa  fa-phone"></i> <span>Phone:</span> 360-882-8887 </p>
                        <p> <i class="fa  fa-mobile"></i> <span>Mobile:</span> 360-882-8887</p>
                    </div>	<!-- End Of /.block -->
                </div> <!-- End Of Col-md-4 -->
                <div class="col-md-4">
                    <p>Find us on Facebook!</p>
                    <ul class="social-icon">
                        <li>
                            <a class="facebook-icon" href="https://www.facebook.com/wildtigerthairestaurantofficialpage/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    </ul>	<!-- End Of /.social-icon -->
                </div><!-- End Of Col-md-4 -->
            </div> <!-- End Of /.row -->
        </div> <!-- End Of /.Container -->
    </footer> <!-- End Of Footer -->

    <a class="fadeIn" id="back-top" href="#"></a>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                responsive: true
            });
        });

        let width = $(window).width();
        let height = $(window).height();

        $('.mobile').css("display", "none");
        $('.desktop').css("display", "block");
        $('#floatingMenu').css("display", "none");

        if (width <= 1242 && height <= 2436) {
            $('.mobile').css("display", "block");
            $('.desktop').css("display", "none");
        }
        (function ($) {
            $.fn.visible = function (partial) {

                var $t = $(this),
                    $w = $(window),
                    viewTop = $w.scrollTop(),
                    viewBottom = viewTop + $w.height(),
                    _top = $t.offset().top,
                    _bottom = _top + $t.height(),
                    compareTop = partial === true ? _bottom : _top,
                    compareBottom = partial === true ? _top : _bottom;

                return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

            };

        })(jQuery);
        $(window).load(function (event) {

            $(".rightAlign").each(function (i, el) {
                var el = $(el);
                if (el.visible(true)) {
                    el.removeClass("hideMe");
                    el.first().addClass("fromRight");
                }
            });
            $(".leftAlign").each(function (i, el) {
                var el = $(el);
                if (el.visible(true)) {
                    el.removeClass("hideMe");
                    el.first().addClass("fromLeft");
                }
            });


        });

        $(window).scroll(function (event) {

            $(".rightAlign").each(function (i, el) {
                var el = $(el);
                if (el.visible(true)) {
                    el.removeClass("hideMe");
                    el.first().addClass("fromRight");
                }
            });
            $(".leftAlign").each(function (i, el) {
                var el = $(el);
                if (el.visible(true)) {
                    el.removeClass("hideMe");
                    el.first().addClass("fromLeft");
                }
            });


        });


        function toggleMenu() {
            var menu = $("#floatingMenu");
            if (menu.css("display") == "block") {
                $("#floatingMenu").css("display", "none");
                $("#menuButton").removeClass("fa-times");
                $("#menuButton").addClass("fa-cutlery");

            }
            else {
                $("#floatingMenu").css("display", "block");
                $("#menuButton").removeClass("fa-cutlery");
                $("#menuButton").addClass("fa-times");

            }
        };
    </script>
    @RenderSection("scripts", false)
</body>
</html>