@model WildTigerThai.DATA.EF.Special

@{
    ViewBag.Title = "Details";
}

<div class="desktop">
    <h2>Special Details</h2>

    <div class="dl-horizontal">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SpecialBeginningDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpecialBeginningDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SpecialEndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpecialEndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SpecialStartTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpecialStartTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SpecialEndTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpecialEndTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Special_ID }, htmlAttributes: new { @class = "btn btn-warning" })
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-warning btn2" })
        </p>
    </div>
</div>
<div class="mobile">
    <h2>Special Details</h2>

    <div class="mobile-horizontal">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SpecialBeginningDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpecialBeginningDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SpecialEndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpecialEndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SpecialStartTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpecialStartTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SpecialEndTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SpecialEndTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Special_ID }, htmlAttributes: new { @class = "btn btn-warning mobile-button" })
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-warning btn2" })
        </p>
    </div>
</div>