@model IEnumerable<WildTigerThai.DATA.EF.Special>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialBeginningDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialBeginningDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Special_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Special_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Special_ID })
        </td>
    </tr>
}

</table>
