@model IEnumerable<WildTigerThai.DATA.EF.Section>

@{
    ViewBag.Title = "Sections";
}

<div class="desktop">
    <h2 class="center">@ViewBag.Title</h2>
    <p>
        @Html.ActionLink("Admin Panel", "AdminDashboard", "Home", null, new { @class = "btn btn-warning", @role = "button", @style = "width:8em; float:left;" })
    </p>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-warning", @role = "button", @style = "width:8em; clear:right;" })
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Section_ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Section_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Section_ID })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="mobile">
    <p>
        @Html.ActionLink("Admin Panel", "AdminDashboard", "Home", null, new { @class = "btn btn-warning mobile-button", @role = "button" })
    </p>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-warning mobile-button2", @role = "button" })
    </p>
    @foreach (var item in Model)
    {
        <table class="full-border">
            <tr>
                <td class="phototype-content">
                    <b>@Html.DisplayNameFor(model => model.Name):</b>
                    @Html.DisplayFor(modelItem => item.Name)<br />
                    <b>@Html.DisplayNameFor(model => model.Active):</b>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td class="mobile-links">
                    <a href="@Url.Action("Edit", "Sections", new { id = item.Section_ID })"><i class="fa fa-pencil"></i></a><br />
                    <a href="@Url.Action("Details", "Sections", new { id = item.Section_ID })"><i class="fa fa-info-circle"></i></a><br />
                    <a href="@Url.Action("Delete", "Sections", new { id = item.Section_ID })"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </table>
    }
</div>