@model WildTigerThai.DATA.EF.Photo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>

        <dd>
            @{
                var base64 = Convert.ToBase64String(Model.File);
                var imgSrc = String.Format("data:image/gif;base64, {0}", base64);
            }
            <img src="@imgSrc" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoType.Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
