@model IEnumerable<WildTigerThai.DATA.EF.Photo>

@{
    ViewBag.Title = "Photos";
}
<div class="desktop">
    <h2 class="center">@ViewBag.Title</h2>
    <p>
        @Html.ActionLink("Admin Panel", "AdminDashboard", "Home", null, new { @class = "btn btn-warning", @role = "button", @style = "width:8em; float:left;" })
    </p>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-warning", @role = "button", @style = "width:8em; clear:right;" })
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.File)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhotoType.Type)
                </th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                            var base64 = Convert.ToBase64String(item.File);
                            var imgSrc = String.Format("data:image/gif;base64, {0}", base64);
                        }
                        <img class="tableImage" src="@imgSrc" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhotoType.Type)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Photo_ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Photo_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Photo_ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="mobile">
<<<<<<< HEAD
    <p>
        @Html.ActionLink("Admin Panel", "AdminDashboard", "Home", null, new { @class = "btn btn-warning mobile-button", @role = "button" })
    </p>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-warning mobile-button2", @role = "button"})
    </p>
    @foreach (var item in Model)
    {
        var base64 = Convert.ToBase64String(item.File);
        var imgSrc = String.Format("data:image/gif;base64, {0}", base64);
        <table class="full-border">
            <tr>
                <td>
                    <img id="tableImage" src="@imgSrc" />
                </td>
                <td>
                    <b>@Html.DisplayNameFor(model => model.PhotoType.Type):</b>
                    @Html.DisplayFor(modelItem => item.PhotoType.Type)
                </td>
                <td class="mobile-links">
                    <a href="@Url.Action("Photos", "Edit", new { id = item.Photo_ID })"><i class="fa fa-pencil"></i></a><br />
                    <a href="@Url.Action("Photos", "Details", new { id = item.Photo_ID })"><i class="fa fa-info-circle"></i></a><br />
                    <a href="@Url.Action("Photos", "Delete", new { id = item.Photo_ID })"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </table>
    }
</div>
