@model WildTigerThai.UI.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<div class="desktop">
    <h2>Details</h2>

    <div class="dl-horizontal">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
        <h4>List of roles for this user</h4>
        @if (ViewBag.RoleNames.Count == 0)
        {
            <hr />
            <p>No roles found for this user.</p>
        }

        <table class="table">

            @foreach (var item in ViewBag.RoleNames)
            {
                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }
        </table>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning" })
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-warning btn2" })
        </p>



    </div>
</div>
<div class="mobile">
    <h2>Details</h2>

    <div class="mobile-horizontal">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
        <h4>List of roles for this user</h4>
        @if (ViewBag.RoleNames.Count == 0)
        {
            <hr />
            <p>No roles found for this user.</p>
        }

        <table class="table">

            @foreach (var item in ViewBag.RoleNames)
            {
                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }
        </table>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning mobile-button" })
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-warning btn2" })
        </p>



    </div>

</div>
